# Database settings
DATABASE_URL=mysql://root:root@localhost/job_alert_db

# JWT settings
SECRET_KEY=your-secret-key-here-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# API settings
API_V1_STR=/api/v1
PROJECT_NAME=Job Alert API

# CORS settings
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8080,http://127.0.0.1:3000/,"]

# Email settings
MAIL_USERNAME=omkarnilakh1504@gmail.com
MAIL_PASSWORD=dvvg myqq yxdt ahmt
MAIL_FROM=omkarnilakh1504@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False

# SMS settings (Twilio)
TWILIO_ACCOUNT_SID=ACb84f755be9d5d3d5dd22011777c0c36e
TWILIO_AUTH_TOKEN=fbd94f001b094961092fb3b86f94784d
TWILIO_PHONE_NUMBER=+917057276034